{% extends '_layouts/base.njk' %}

{% block content %}
<article class="container">
  <div class="row">
    <div class="col-sm-4 left-rail">
        <img src="img/members/{{members.image}}" alt="">
    </div>
    <div class="col-sm-8">
     

    </div>
  </div>
</article>
{% endblock %}


{% block story %}
<article class="container">
  <div class="row">
   <div class="col-sm-4 ">
      <h1>{{ members.title }}</h1>
      <h2>{{ members.instruments }}</h2>
      <h3>{{ members.birthplace }}</h3>
      <h3>{{ members.birthdate }}</h3>
      <p>{{ <members class="text"></members> }}</p>
    </div>
  </div>
</article>
{% endblock %}