{% extends '_layouts/base.njk' %}

{% block content %}
<article class="container">
  <div class="row">
    <div class="col-sm-4 left-rail">
        <img src="img/members/{{members.image}}" alt="">
    </div>
    <div class="col-sm-8">
     

    </div>
  </div>
</article>
{% endblock %}

{% block story %}
<article class="container">
  <div class="row">
    <div class="col-sm-4 left-rail">
  <h1>{{ members.name }}</h2>
  <p>{{ members.text }}</p>
  </div>
  </div>
</article>
{% endblock %}
