{% extends '_layouts/base.njk' %}
{% extends '_layouts/base.njk' %}

{% block page_title %}discography{% endblock %}

<h1 id="important" class="text-center">Albums Galore</h1>

{% block content %}
{% include "_partials/cards.njk" %}
{% endblock %}