{% extends '_layouts/base.njk' %}

{% block page_title %}New index page title{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col">
    <h1 class="text-center">Need to Know on Queen</h1>
    <p class="author">By Simone Puglia</p>
    <p class="date"> Published May 25, 1977</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <ul> 
        {% for book in data.books %}
          <li>{{ book.title }}, {{ book.author }}</li>
        {% else %}
          <li>This would display if the 'books' collection were empty</li>
        {% endfor %}
     </ul>
    </div>
  </div>
   {% include "_partials/cards.njk" %}
</div>
{% endblock %}
