
<div class="container">

<div class="row">
{% for entry in data.discography %}
<div class= "col-sm-3">
   <div class="card mb-4">
      <img src="img/discs/{{ entry.image }}" alt= "{{ entry.title }}" class="img-fluid">
      <div class="card-body">
        <h5 class="card-title"> {{ entry.title }} </h5>
        <p class="card-text"><small class="text-muted">{{entry.year}}</small></p>
      </div>
    </div>
  </div>
{% endfor %}
</div>
</div>