<div class="jumbotron jumbotron-fluid banner" >
  <div class="container">
    <h1 class="display-4"> All Queen All The Time</h1>
    <p class="lead">Rock and Roll Legends Never die.</p>
  </div>
</div>