<div class="jumbotron jumbotron-fluid banner" >
  <div class="container">
  <img src=img/queen-logo-white.png alt= "logo" class="img-fluid">
    <p class="lead">Rock and Roll Legends Never die.</p>
  </div>
</div>