<div class="container">

<div class="row">

{% for entry in data.members %}
<div class= "col-sm-6 col-md-3 col-lg-3" >
   <div class="card mb-4">
      <img src="img/members/{{ entry.imagebw }}" alt= "{{ entry.name }}" class="img-fluid">
      <div class="card-body">
        <h5 class="card-title"> {{ entry.name }} </h5>
        <p class="card-text">{{ entry.instruments }}</p>
        <p class="card-text"><small class="text-muted">{{entry.tenure}}</small></p>
      </div>
    </div>
  </div>
  
{% endfor %}

</div>
</div>


