/* jumbotron */

.jumbotron {
  background-image: url("../img/queen-live-on-stage.jpg") ;
  background-position: center;
  background-size: cover;
  font-family: fantasy;
  color: white;
  text-align: justify;

  
}